<%- stylesheet('/static/css/style.css') %>
<div class="container">
  <div class="wrapper">
    <h1><i></i><span>GoInstant</span> Maps Demo</h1>
    <div class="panel">
      <div>
        <p>Thank you for trying out GoInstant Maps!</p>
        <p>Like what you saw? Please share it with the world &mdash; we'd be hugely grateful:</p>
        <div class="share-buttons clearfix">
          <a href="#" class="facebook"><span><i></i></span>Share on Facebook</a>
          <a href="#" class="twitter"><span><i></i></span>Share on Twitter</a>
        </div>
      </div>
    </div>
    <p>How does GoInstant Maps work?  <a href="http://goinstant.com/examples" target="_blank"> Learn More<i></i></a></p>
  </div>
</div>
<div id="footer">
  <p>&copy; GoInstant 2013. All Rights Reserved. <a href="http://goinstant.com/terms">Terms & Conditions</a>. This is a demo of <a href="http://goinstant.com">GoInstant</a> beta.</p>
</div>
   