.gi-userlist.gi-right.gi-override {
    padding: 0;
    background: none;
    border-right: 0;
	li {
	    background: white;
	    padding: 7px;
	}
	.gi-inner {
	    border-radius: 3px 0 0 3px;
      border: 1px solid #bbb;
      border-right: 0;
      border-bottom: 0;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	    &.collapsed {
	    	border-radius: 3px 0 0 0;
	    }
	}
	.gi-collapse {
    width: 38px;
    bottom: -29px;
    z-index: 0;
    background: #eee;
    border: 1px solid #bbb;
    border-right: 0;
    border-top: 0;
    border-radius: 0 0 0 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    &:hover {
	    background: #f7f7f7;
		}
		span {
      margin: 5px 0 0 13px;
    }
    &.collapsed {
      span {
        margin: 5px 0 0 12px;
      }
    }
	}
	.gi-color {
	    border-radius: 2px;
	}
  .gi-options {
    height: 39px;
    span {
      margin: 12px 12px 12px 0;
    }
    input {
      margin-top: 8px;
    }
  }
}
